<p><span class="font-bold mb-10">Title :  </span><%= @email.name %></p>
<p class="mt-5"><span class="font-bold">Type :  </span><%= @email.email_type %></p>
<p class="font-bold mt-10">Body: </p>
<div class="border-2 p-10 mt-5  "><%= raw(@email.body) %></div>

<br/>